<div class="grid-container">
  <div class="empty"></div>
  <div class="traffic-light horizontal">
    <app-traffic-light></app-traffic-light>
  </div>

  <div class="empty"></div>
  <div class="traffic-light vertical">
    <app-traffic-light-reverse></app-traffic-light-reverse>
  </div>

  <div class="empty"></div>
  <div class="traffic-light vertical">
    <app-traffic-light-reverse></app-traffic-light-reverse>
  </div>

  <div class="empty"></div>
  <div class="traffic-light horizontal">
    <app-traffic-light></app-traffic-light>
  </div>

  <div class="empty"></div>

  <button class="emergency-button" (click)="onEmergency()" [disabled]="buttonDisabled">
    Авария
  </button>
</div>
